nav > .nav.nav-tabs {
  border: none;
  color: #fff;
  background: #272e38;
  border-radius: 0;
}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 25px;
  color: #fff;
  background: #272e38;
  border-radius: 0;
}

nav > div a.nav-item.nav-link.active:after {
  content: "";
  position: relative;
  bottom: -60px;
  left: -20%;
  border: 15px solid transparent;
  border-top-color: #e74c3c;
}
.tab-content {
  background: #f0f0f0;
  line-height: 25px;
  border-top: 5px solid #e74c3c;
  padding: 30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background: #e74c3c;
  color: #fff;
  border-radius: 0;
  transition: background 0.2s linear;
}

#nav-todo-tab:hover,
#nav-todo-tab:focus {
  border: none;
  background: #751616;
  color: #fff;
  border-radius: 0;
  transition: background 0.2s linear;
}

#nav-inprog-tab:hover,
#nav-inprog-tab:focus {
  border: none;
  background: #dd9803;
  color: #fff;
  border-radius: 0;
  transition: background 0.2s linear;
}

#nav-done-tab:hover,
#nav-done-tab:focus {
  border: none;
  background: #04791d;
  color: #fff;
  border-radius: 0;
  transition: background 0.2s linear;
}

/* css for notification */
.notice {
  padding: 8px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  border-right: 6px solid #7f7f84;
  border-bottom: 1px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}
.notice-sm {
  padding: 10px;
  font-size: 80%;
}
.notice-lg {
  padding: 35px;
  font-size: large;
}
.notice-success {
  border-color: #feaf20;
}
.notice-success > strong {
  color: #80d651;
}
